body {
  background-color: #b0b1b3;
}

.main-header {
  width: 50%;
  margin: auto;
  background-color: white;
}

.container {
  width: 50%;
  margin: auto;
  background-color: white;
}

.cont-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}


img {
  width: 100%;
  margin: auto;
}

.img-footer {
  background-color: white;
  width: 85%;
  margin: 0 auto;
}

p {
  padding: 10px;
  font-size: 20px;
}

h6 {
  color: #b0b1b3;
}
